body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

.cent {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container-fluid {
    margin-top: 100px;
}